#hitam{
	color: grey;
	font-size: 50px;
	font-family: "Product Sans", monoscape;
	background: -webkit-linear-gradient(#1111, #333);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-style: italic;
}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
.putih{
	color: black;
	font-weight: bold;
	font-size: 40px;
	font-family: "product sans", monoscape;
}
body{
	text-align: center;
	background-image: url("synt.png");
	background-size: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

  background: linear-gradient(-110deg, red, yellow);

	background-color: yellow;
	width: auto;
	border: 25px solid pink;
	padding: 25px;
	margin: 25px;
}